body{
    background-color: rgb(17, 17, 17);
    font-family: 'Graphik Web',-apple-system,BlinkMacSystemFont,'Segoe UI',
    Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',Helvetica,sans-serif;

    margin-left: 0em;
    margin-top: 2em;

    scrollbar-highlight-color: crimson;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

ul{
    list-style-type: none;
}

.message_text{
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.1em;

    line-height: 1.2em;

    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.message_info{
    color: rgb(168, 167, 167);
    font-weight: 400;
    font-size: 0.7em;
    margin-top: 0.15em;
    margin-bottom: 0.3em;
}

.message-other{
    border: 0.2em solid crimson;
    border-radius: 1em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 0em;

    padding-left: 0.5em;
    padding-right: 1em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;

    word-wrap: break-word;

    width: 35%;
    min-width: 7em;

    background-color: rgb(53, 15, 23);
}

.message-mine{
    border: 0.2em solid crimson;
    border-radius: 1em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 0em;

    padding-right: 0.5em;
    padding-left: 1em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 60%;
    margin-right: 25px;

    word-wrap: break-word;

    text-align: right;

    min-width: 7em;

    background-color: rgb(53, 15, 23);
}

.no_messages{
    font-size: 5em;

    color: lightcoral;

    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

#send_button{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 10%;

    padding: 8px;
    padding-right: 16px;

    margin-right: 1%;
    margin-bottom: 0.2em;
}

#back_button{
    position: fixed;
    top: 0px;
    left: 0px;

    margin-left: 0.2em;
    margin-top: 0.2em;

    padding-right: 0.4em;

    background-color: rgb(148, 13, 40);
    border-color: rgb(148, 13, 40);
}

#back_button:hover{


    border: 0.2em solid rgb(240, 5, 52);
    border-radius: 1em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 0em;

    background-color: rgb(240, 5, 52);
}

.button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;

    border: 0.2em solid rgb(240, 5, 52);
    border-radius: 1em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 0em;

    background-color: rgb(240, 5, 52);
}

.button:hover{
    background-color: rgb(148, 13, 40);
    border-color: rgb(148, 13, 40);
}

input[type=text]{
    position: fixed;
    bottom: 0px;
    left: 0.5%;

    background-color: rgb(17, 17, 17);
    font-size: 1.8em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;

    text-shadow: 5px 0px rgb(99, 11, 11);

    border: 2px solid crimson;
    border-radius: 6px;

    width: 86%;
    padding: 5px 20px;
    margin: 8px;
    box-sizing: border-box;
    
}